* {
	margin: 0px;
	padding: 0px;
}
html {
	width: 100%;
	height: 100%;
	background: url(../images/bg.jpg);
	background-repeat:repeat-x;
}
body {
	width: 100%;
	height: 100%;
	font-family: Arial, helvetica, clean, sans-serif;
}
.wrapper {
	width: 900px;
	margin: 0 auto;
}
header {
	width: 100%;
	height: 65px;
}
.logo {
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: 30pt;
	font-weight: bold;
	color: white;
}
/*the login and sign in button at the top right corner*/
#login {
	width: 120px;
	position: relative;
	top: -45px;
	left: 780px;
	font-size: 12pt;
}
.content {
	background-color: white;
	padding: 15px 15px 15px 15px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	border-radius: 20px 20px 0px 0px;
}
p {
	color: #6D7072;
}
.form_row {
	display: block;
}
.form_row label {
	display: inline-block;
	text-align: right;
	width: 180px;
}
.form_row div {
	display: inline-block;
}
.form_row input {
	width: 16em;
}
#birthday_collection #dd, #yyyy {
	width: 3em;
}
#birthday_collection #mm {
	width: 9em;
}
#create {
	position: relative;
	width: 500px;
	left: 200px;
	top: 10px;
}
/*login.html*/
.login_box {
	background: #EDFDFF;
	border-width: 3px 3px 3px 3px;
	border-style: solid;
	border-color: #22CADB;
	width: 600px;
	height: 150px;
	padding: 5px 5px 5px 5px;
}
/*register.html*/
.register_box {
	background: #EDFDFF;
	border-width: 3px 3px 3px 3px;
	border-style: solid;
	border-color: #22CADB;
	width: 600px;
	height: 300px;
	padding: 5px 5px 5px 5px;
}
footer {
	width: 100%;
}
